# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/world/Saved
/world/Intermediate
/world/Plugins/MyPlugin/Binaries
/world/Plugins/MyPlugin/Intermediate
/world/.vs
/world/Binaries
/world/Content/Lua/.idea
world/Content/Scenes/UIMaker_BuiltData.uasset
world/Content/Scenes/UIMaker.umap
